page-set-time-appointment {
    .select{
        font-size: 1.6rem;
        margin-left: 5%;
    }
    .choosen{
        font-size: 1.4rem;
        margin-left: 5%;
    }
    .date{
        font-size: 2.0rem;
        margin-left: 5%;
    }
    .button-md.proceed{
        margin-left: 2%;
        margin-right: 2%;
    }
}
