page-start {
    ::-webkit-scrollbar{
        display:none;
    }
    .button-md.facebook{
        margin-left: 18%;
    }
    .button-md.google{
        margin-left: 19%;
    }
    // .button-md.sigin{
    //     margin-left: 13%;
    // }
    // .button-md.register{
    //     margin-left: -10%;
    // }
}
