page-start {
    ::-webkit-scrollbar{
        display:none;
    }
    .facebook{
        margin-left: 8%;
    }
    .google{
        margin-left: 10%;
    }
    .sigin{
        margin-left: 14%;
    }
    .register{
        margin-left: -4%;
    }
}
