page-start {
    ::-webkit-scrollbar{
        display:none;
    }
    .button-md.facebook{
        margin-left: 8%;
    }
    .button-md.google{
        margin-left: 10%;
    }
    .button-md.sigin{
        margin-left: 17%;
    }
    .button-md.register{
        margin-left: -5%;
    }
}
