<ion-header>
  <ion-navbar >
    <ion-title>
      Bookings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-segment color="primary" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="first">
      RECENT 
    </ion-segment-button>

    <ion-segment-button value="second">
      COMPLETED
    </ion-segment-button>

    <ion-segment-button value="third">
      REJECTED
    </ion-segment-button>
  </ion-segment>
<br> 
  <ion-slides style="height:unset;" #mySlider (ionSlideDidChange)="onSlideChanged($event)">
    <ion-slide class="wrapper">
       <!-- <img src="assets/1.jpg" class="pic">  -->
       <!-- <p>Johny Saloons</p>
       <p>Eye Lashes</p>
       <p>Wednesday, 3.00pm</p> -->
       <ion-item class="background">
         <b><h2>Upcoming Booking</h2></b>
         <h3>Location:{{store}}</h3>
         <h4>Date:{{date| date: 'dd/MM/yyyy'}}</h4>
      </ion-item>

       <ion-item no-padding  *ngFor="let status of bookingRecentStatus" (click)="viewBooking(status)">
          <ion-thumbnail item-left>
            <ion-img src="assets/1.jpg" class="defaultStore"></ion-img>
          </ion-thumbnail>
          <h2>{{status.storeName}}</h2>
          <h3>{{status.treatmentDetailName}}</h3>  
          <h3>{{status.appointmentDate| date: 'dd/MM/yyyy'}}</h3>
         
          <h4 style="color: red" *ngIf="status.applicationStatusName=='Canceled'">The appointment has been cancelled.</h4>

        </ion-item>
    </ion-slide>
    <ion-slide>
        <ion-card>
            <ion-item>
            <ion-card-content>
                <rating [(ngModel)]="rate" 
                readOnly="false"
                max="5" 
                emptyStarIconName="star-outline" 
                halfStarIconName="star-half" 
                starIconName="star" 
                nullable="false" 
                (ngModelChange)="onModelChange($event)"></rating>
              <a class="a"><b>Enter Review</b></a>
              <ion-item>
                <ion-input></ion-input>
                
              </ion-item>
              <button ion-button round style="background-color: #56C8C8;">Submit</button>
            </ion-card-content>
          </ion-item>
          </ion-card>
        <ion-item no-padding  *ngFor="let status of bookingCompletedStatus">
            <ion-thumbnail item-left>
                <ion-img src="assets/img/11.jpg" class="defaultStore"></ion-img>
            </ion-thumbnail>
            <h2>{{status.storeName}}</h2>
            <p>{{status.appointmentDate| date: 'dd/MM/yyyy'}}</p>
           
            </ion-item>
    </ion-slide>

    <ion-slide>
      <ion-item no-padding  *ngFor="let status of bookingRejectStatus">
          <ion-thumbnail item-left>
              <ion-img src="assets/img/11.jpg" class="defaultStore"></ion-img>
          </ion-thumbnail>
          <h2>{{status.storeName}}</h2>
          <p>{{status.appointmentDate| date: 'dd/MM/yyyy'}}</p>
          </ion-item>
  </ion-slide>
  </ion-slides>
</ion-content>
