page-confirm-booking {
    .date{
        font-size: 2.0rem;
        margin-left: 2%;
    }
    .storeName{
        margin-left: 2%;
    }
    .b{
        padding-left: 20%;
    }
    .button-md.submitButton{
        margin-left: 2%;
        margin-right: 2%;
        height: 35px;
        font-size: 1.4rem;
    }
}
