<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Sign In</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="usernameForm">
    <form [formGroup]="logInFormname" (ngSubmit)="goPassword(logInFormname.value)">

      <br><br><br><br><br><br><br><br>
      <a class="a"><b>Enter phone number or username</b></a>
      <ion-item>
        <ion-input formControlName="name" type="text" [class.invalid]="!logInFormname.controls.name.valid && (logInFormname.controls.name.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <div *ngIf="logInFormname.get('name').hasError('required') && logInFormname.get('name').touched">
      <p>Phone number or Username is required</p>
    </div>
    <ion-fab right bottom>
      <button ion-fab mini color="info" type="submit" [disabled]="logInFormname.invalid"><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></button>
    </ion-fab>
        </form>
  </div>

  <div *ngIf="passwordForm">
    <form [formGroup]="logInFormpassword" (ngSubmit)="goSignIn(logInFormpassword.value)">
      <br><br><br><br><br><br><br><br>
      <a class="a"><b>Enter password</b></a>
      <ion-item>
        <ion-input formControlName="password" type="password" [class.invalid]="!logInFormpassword.controls.password.valid && (logInFormpassword.controls.password.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <div *ngIf="logInFormpassword.get('password').hasError('required') && logInFormpassword.get('password').touched">
        <p>Password is required</p>
      </div>
      <ion-fab right bottom>
        <button ion-fab mini color="info" type="submit" [disabled]="logInFormpassword.invalid"><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></button>
      </ion-fab>
    </form>
  </div>
</ion-content>
<!-- (click)="goSignIn()" -->