<ion-header>
  <ion-navbar>
    <ion-title>Sign In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="margin-top: 0px;background: url(assets/back.jpg);background-size: cover;background-repeat: no-repeat;">
  <div *ngIf="usernameForm">
    <form [formGroup]="logInFormname" (ngSubmit)="goPassword(logInFormname.value)">

      <br><br><br><br><br><br><br><br>
      <a class="a"><b>Enter phone number or username</b></a>
      <ion-item>
        <ion-input formControlName="name" type="text" [class.invalid]="!logInFormname.controls.name.valid && (logInFormname.controls.name.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <div *ngIf="logInFormname.get('name').hasError('required') && logInFormname.get('name').touched">
      <p class="msg" style="color:#f53d3d;">Phone number or Username is required</p>
    </div>
    <ion-fab right bottom>
      <button ion-fab mini color="info" type="submit" [disabled]="logInFormname.invalid"><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></button>
    </ion-fab>
        </form>
  </div>

  <div *ngIf="passwordForm">
    <form [formGroup]="logInFormpassword" (ngSubmit)="goSignIn(logInFormpassword.value)">
      <br><br><br><br><br><br><br><br>
      <a class="a"><b>Enter password</b></a>
      <ion-item>
        <ion-input formControlName="password" type="password" [class.invalid]="!logInFormpassword.controls.password.valid && (logInFormpassword.controls.password.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <div *ngIf="logInFormpassword.get('password').hasError('required') && logInFormpassword.get('password').touched">
        <p class="msg" style="color:#f53d3d;">Password is required</p>
      </div>
      <ion-fab right bottom>
        <button ion-fab mini color="info" type="submit" [disabled]="logInFormpassword.invalid"><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></button>
      </ion-fab>
    </form>

    <span (click)="test()" class="msg" style="color:#f53d3d;">Forgot Password?</span>
  </div>
</ion-content>
<!-- (click)="goSignIn()" -->