page-home {
  h6.face{
    padding-left: 4%;
  }

  h6.hair{
    padding-left: 4%;
  }

  h6.body{
    padding-left: 4%;
  }

  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 100px;
    overflow: hidden;

    .scroll-item {
      display: inline-block;
    }
  
    div img{
      margin: 10px;
      border-radius: 23%;
      width:25%;
      height:25%;
     
    }
  }
  
  ion-scroll[scroll-div]{
    height: 100px;
  }
  
  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar{
    display:none;
  } 
}
    